<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="moj.memes.list">

    <application>

        <activity
            android:name="moj.memes.list.view.MemesListActivity"
            android:theme="@style/BaseAppTheme">

            <intent-filter>

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="moj.memes.io"
                    android:path="/list"
                    android:scheme="https" />

            </intent-filter>

            <tools:validation testUrl="https://moj.memes.io/list" />

        </activity>

    </application>

</manifest>
